
/*em (about section start)*/

#about {
	padding: 12% 0%;
	width: auto;
	height: auto;
}

#about h3 {
	padding: 10% 0% 0% 15%;
	font-weight: bold;
}

.em_firstp {
	padding: 0% 10% 10% 15%;
	line-height: 25px;
	letter-spacing: 0.5px;
	font-size: 16px;
	color:#AE678D;
}

.em_secondp {
	padding: 0% 10% 3% 15%;
	color:#A47E92;	
}


.em_btn {
	margin-left: 55px;
	color:black;
	padding: 10px 15px 10px 15px;
	border:1px solid black;
	border-radius: 3px;
	line-height: 50px;s
	transition: all 0.5s linear;
}

.em_btn:hover {
	text-decoration: none;
	color:white;
	background-color: black;
}

/*em (about section end)*/